@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    font-size: 1em;
}

.tree{
    position: relative;
    top: -37.5px;
    width: 75px;
    height: 75px;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(30deg);
    animation: animateTree 6s linear infinite;
}

.tree::before{
    content: '⭐';
    position: absolute;
    top: -30px;
    left: calc(50% - 11.25px);
    font-size: 1em;
}

@keyframes animateTree{
    0%
    {
        transform: rotateX(-20deg) rotateY(360deg);
    }
    100%
    {
        transform: rotateX(-20deg) rotateY(0deg);
    }
}
.tree div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translateY(calc(25px * var(--j)));
}
.tree div.top span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(90deg,#69c069, #77dd77);
    clip-path: polygon(50% 0%,0% 100%,100% 100%);
    transform-origin: bottom;
    border-bottom: 2.5px solid #00000019;
    transform: rotateY(calc(90deg * var(--i))) rotateX(30deg) translateZ(43.25px);
}
.tree div.bottom span{
    position: absolute;
    top: 87.5px;
    left: calc(50% - 7.5px);
    width: 15px;
    height: 100%; 
    background: linear-gradient(90deg,#bb4622, #df7214);
    transform-origin: bottom;
    border-bottom: 2.5px solid #00000055;
    transform: rotateY(calc(90deg * var(--i))) translateZ(7.5px);
}
.shadow
{
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background: #0002;
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(-125px);
    filter: blur(5px);
}




