/* ------------------------- Phone mode ------------------------- */

@media screen and (max-width: 460px){
    #container{
        grid-gap: 15px;
        padding: 10px;
        width: 350px;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    #container .card{
        width: 150px;
        height: 150px;
    }

    .box{
        font-size: 0.6em;
    }
}
