@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: radial-gradient(#353c44, #222931);
    color: #fff;
    max-width: 1600px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #298089, #6dd5fa, #298089);
}

header .title{
    line-height: 2em;
    padding: 1em;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* ----------------------- MAIN ----------------------- */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

#container .card{
    display: flex;
    background: #222;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 1em;
}



#no-project{
    color: #000;
}

/* ------------------------- CIRCLE DOTS ------------------------- */
.circleDots{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5625em;
}

.circleDots .ring{
    position: relative;
    width: 7.0313em;
    height: 7.0313em;
    margin: -1.4063em;
    border-radius: 50%;
    border: 0.1875em solid transparent;
    border-top: 0.1875em solid #24ecff;
    animation: animateCircleDots 4s linear infinite;
}

@keyframes animateCircleDots{
    0%{
        transform: rotate(0deg);
    } 100%{
        transform: rotate(360deg);
    }
}

.circleDots .ring::before{
    content: '';
    position: absolute;
    top: 0.5625em;
    right: 0.5625em;
    width: 0.7031em;
    height: 0.7031em;
    border-radius: 50%;
    background: #24ecff;
    box-shadow: 0 0 0 0.2344em #24ecff33, 0 0 0 0.4688em #24ecff22, 0 0 0 0.9375em #24ecff11;
}

.circleDots .ring:nth-child(2){
    animation: animateCircleDots2 4s linear infinite;
    animation-delay: -1s;
    border-top: 0.1875em solid transparent;
    border-left: 0.1875em solid #93ff2d;
}

.circleDots .ring:nth-child(2):before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 0.5625em;
    left: 0.5625em;
    width: 0.7031em;
    height: 0.7031em;
    border-radius: 50%;
    background: #93ff2d;
    box-shadow: 0 0 0 0.2344em #93ff2d33, 0 0 0 0.4688em #93ff2d22, 0 0 0 0.9375em #93ff2d11;
}

@keyframes animateCircleDots2{
    0%{
        transform: rotate(360deg);
    }100%{
        transform: rotate(0deg);
    }
}

.circleDots .ring:nth-child(3){
    animation: animateCircleDots2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: -3.125em;
    border-top: 0.1875em solid transparent;
    border-left: 0.1875em solid #e41cf8;
}

.circleDots .ring:nth-child(3):before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 0.5625em;
    left: 0.5625em;
    width: 0.7031em;
    height: 0.7031em;
    border-radius: 50%;
    background: #e41cf8;
    box-shadow: 0 0 0 0.2344em #e41cf833, 0 0 0 0.4688em #e41cf822, 0 0 0 0.9375em #e41cf811;
}


/* ------------------------- Effect Clock ------------------------- */

.effectClock{
    position: relative;
    width: 15em;
    height: 15em;
    display: flex;
    justify-content: center;
}

.effectClock span{
    position: absolute;
    width: 0.3em;
    height: 7.5em;
    background: transparent;
    border-bottom: 1.2em solid #222;
    transform-origin: bottom;
    transform: rotate(calc(22.5deg * var(--i)));
}

.effectClock span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5em;
    background: #03a9f4;
    box-shadow: 0 0 1.2em #03a9f4;
    border-radius: 0.625em;
    animation: animateEffectClock 1.5s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animateEffectClock{
    0%{
        transform: translateY(4.8em) rotate(0deg);
        filter: hue-rotate(0deg);
    }50%{
        transform: translateY(0em);
    }100%{
        transform: translateY(4.8em) rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.effectClock span::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0.6em;
    height: 0.3em;
    background: #03a9f4;
    transform: rotate(8deg);
    animation: animateColorEffectClock 1.5s linear infinite;
}

@keyframes animateColorEffectClock{
    0%{
        filter: hue-rotate(0deg);
    }100%{
        filter: hue-rotate(360deg);
    }
}

.effectClock span i{
    position: absolute;
    width: 0.45em;
    height: 3em;
    background: #222;
    border-left: 0.12em solid #03a9f4;
    border-right: 0.12em solid #03a9f4;
    transform-origin: top;
    transform: rotate(79deg);
    animation: animateColorEffectClock 1.5s linear infinite, animateSideEffectClock 1.5s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animateSideEffectClock{
    0%,40%,65.1%,100%{
        background: #222;
    }40.1%,65%{
        background: #03a9f4;
    }
}

/* ------------------------- effectSquare ------------------------- */

.loader, .loader2{
    position: relative;
    width: 7.5em;
    height: 7.5em;
    animation: animateLoader2 6s linear infinite;
}

@keyframes animateLoader2{
    0%{
        transform: rotate(360deg);
    }100%{
        transform: rotate(0deg);
    }
}

.loader span, .loader2 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(30deg * var(--i)));
}

.loader span::before, .loader2 span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.9375em;
    height: 0.9375em;
    background: rgba(255, 255, 255, 0.15);
}

.loader span:nth-child(3n + 3)::before{
    background: #fff;
    box-shadow: 0 0 0.625em #fff, 0 0 1.25em #fff, 0 0 1.875em #fff;
    animation: animateSquare 2s linear infinite;
    transform-origin: 3.75em;
}

@keyframes animateSquare{
    0%,25%{
        transform: rotate(0deg);
    }75%,90%,100%{
        transform: rotate(180deg);
    }
}

/* Loader2 */

.loader2 span:nth-child(3n + 3)::before{
    background: var(--clr);
    box-shadow: 0 0 0.625em var(--clr), 0 0 1.25em var(--clr), 0 0 1.875em var(--clr);
    animation: animateSquare2 2s linear infinite;
    transform-origin: 3.75em;
}

@keyframes animateSquare2{
    0%,25%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }50%{
        transform: rotate(180deg);
        filter: hue-rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
        filter: hue-rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}


/* ------------------------- REATOR -------------------------------*/

.reactor-container{
    width: 9.375em;
    height: 9.375em;
    margin: auto;
    position: relative;
}

.circle{
    border-radius: 50%;
}

.abs-center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.core-inner{
    width: 2.1875em;
    height: 2.1875em;
    border: 0.1563em solid #1b4e5f;
    background-color: #ffffff;
    box-shadow: 0 0 0.2188em 0.1563em #52fefe, 0 0 0.3125em 0.3125em #52fefe inset;
}

.core-outer{
    width: 3.75em;
    height: 3.75em;
    border: 1px solid #52fefe;
    background-color: #ffffff;
    box-shadow: 0 0 0.125em 0.0625em #52fefe, 0 0 0.3125em 0.1563em #52fefe inset;
}

.core-wrapper{
    width: 5.625em;
    height: 5.625em;
    background-color: #073c4b;
    box-shadow: 0 0 0.1563em 0.125em #52fefe, 0 0 0.1875em 0.0625em #52fefe inset;
}

.tunnel{
    width: 6.875em;
    height: 6.875em;
    background-color: #ffffff;
    box-shadow: 0 0 0.1563em 0.0625em #52fefe, 0 0 0.1563em 0.125em #52fefe inset;
}

.coil-container{
    position: relative;
    width: 100%;
    height: 100%;
    animation: reactor-anime 3s infinite;;
}

.coil{
    position: absolute;
    width: 0.9375em;
    height: 0.625em;
    top: calc(50% - 3.4375em);
    left: calc(50% - 0.4688em);
    transform-origin: 0.4688em 3.4375em;
    background-color: #073c4b;
    box-shadow: 0 0 0.1563em #52fefe inset;
    transform: rotate(calc(45deg * var(--i)))
}

@keyframes reactor-anime{
    from{
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

/* ------------------------- DICE --------------------------------*/

.cont{
    position: relative;
    top: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    margin: auto;
    width: 6.25em;
    height: 6.25em;
    transform-style: preserve-3d;
    animation: rotateDice 15s infinite linear;
}

@keyframes rotateDice{
    100%{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.side{
    width: 6.25em;
    height: 6.25em;
    position: absolute;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    border-radius: 5%;
}

.first{
    transform: translateZ(-3.125em);
}

.sixth{
    transform: translateZ(3.125em);
}

.second{
    transform: translateY(-3.125em) rotateX(90deg);
}

.third{
    transform: translateY(3.125em) rotateX(90deg);
}

.fourth{
    transform: translateX(-3.125em) rotateY(90deg);
}

.fifth{
    transform: translateX(3.125em) rotateY(90deg);
}

.side span{
    position: absolute;
    top: 37%;
    left: 37%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background: #fff;
}

.second span{background: #f0ea60;}
.third span{background: #ee6352;}
.fourth span{background: #4f7cac;}
.fifth span{background: #48bf84;}
.sixth span{background: #e5a532;}

.side span::before, .side span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.second span{left: 15%;} 
.second span+span{left: 60%;} 
.second span::before, .second span::after{background: #f0ea60; left: 0;}
.second span::before{top: -120%;}
.second span::after{top: 120%;}

.third span{top: 15%; left: 15%;}
.third span + span{top: 65%;}
.third span::before{background: #ee6352; right: -190%;}
.third span + span::after{background: #ee6352; right: -95%; bottom: 100%;}

.fourth span{left: 15%;}
.fourth span::before{background: #4f7cac; right: -165%;}

.fifth span{left: 15%; top: 15%;}
.fifth span + span{left: 60%;}
.fifth span::after{background: #48bf84; left: 0; top: 185%;}

.sixth.side span::before, .sixth.side span::after{background: #e5a532; left: 0%;}
.sixth.side span::before{top: -120%;}
.sixth.side span::after{top: 120%;}

/* -------------------------- ECLIPSE -------------------- */

.sky{
    width: 100vw;
    height: 100vh;
    background-color: #87ceeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    animation: animate-sky 15s linear infinite;
}

.sun, .moon{
    position: absolute;
    width: 6.25em;
    height: 6.25em;
    border-radius: 50%;
    animation:  15s linear infinite;
}

.sun{
    background: radial-gradient(
        yellow,
        orange 35%,
        transparent calc(35% + 9.375em) 100%
      );
    animation-name: animate-sun;
}

.moon{
    background-color: #708090;
    animation-name: animate-moon;
}

@keyframes animate-sky{
    50%{
        background-color: #222;
    }
}

@keyframes animate-sun{
    50%{
        box-shadow: 0 0 5em 1em #ffa600b6;
    }
}

@keyframes animate-moon{
    from{
        transform: translateX(-12.5em);
    }50%{
        background-color: #222;
    }to{
        transform: translateX(12.5em);
    }
};

/* ------------------ PENDULUM ----------------------*/

.pendulums{
    width: 12.5em;
    height: 9.375em;
    position: relative;
}

.pendulums span{
    position: absolute;
    width: 0.0625em;
    height: calc((var(--i) - 1) * 0.3125em + 4.6875em);
    margin-top: -4.6875em;
    background-color: #5f9ea0;
    transform-origin: 50% top;
    transform: rotate(25deg);
    animation: swing ease-in-out infinite;
    animation-duration: calc((var(--i) - 1) * 0.02s + 1.5s);
}

@keyframes swing{
    50%{
        transform: rotate(-25deg);
    }
}

.pendulums span::before{
    content: '';
    position: absolute;
    width: 0.4688em;
    height: 0.4688em;
    background: radial-gradient(circle at 70% 35%, #ffffff, #00ced1 30%, #4682b4 50%);
    border-radius: 50%;
    top: 100%;
    left: -0.2344em;
    box-shadow: -0.3125em 1.25em 0.3125em rgba(255, 255, 255, 0.1);
}