@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: radial-gradient(#353c44, #222931);
    color: #fff;
    max-width: 1600px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #298089, #6dd5fa, #298089);
}

header .title{
    line-height: 2em;
    padding: 1em;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

#container .card{
    display: flex;
    background: #222;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#no-project{
    color: #000;
}

/* ------------------------- CIRCLE DOTS ------------------------- */
.circleDots{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleDots .ring{
    position: relative;
    width: 75px;
    height: 75px;
    margin: -15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top: 2px solid #24ecff;
    animation: animate 4s linear infinite;
}

@keyframes animateCircleDots{
    0%{
        transform: rotate(0deg);
    } 100%{
        transform: rotate(360deg);
    }
}

.circleDots .ring::before{
    content: '';
    position: absolute;
    top: 6px;
    right: 6px;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background: #24ecff;
    box-shadow: 0 0 0 2.5px #24ecff33, 0 0 0 5px #24ecff22, 0 0 0 10px #24ecff11;
}

.circleDots .ring:nth-child(2){
    animation: animateCircleDots2 4s linear infinite;
    animation-delay: -1s;
    border-top: 2px solid transparent;
    border-left: 2px solid #93ff2d;
}

.circleDots .ring:nth-child(2):before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 6px;
    left: 6px;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background: #93ff2d;
    box-shadow: 0 0 0 2.5px #93ff2d33, 0 0 0 5px #93ff2d22, 0 0 0 10px #93ff2d11;
}

@keyframes animateCircleDots2{
    0%{
        transform: rotate(360deg);
    }100%{
        transform: rotate(0deg);
    }
}

.circleDots .ring:nth-child(3){
    animation: animateCircleDots2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: -33.33px;
    border-top: 2px solid transparent;
    border-left: 2px solid #e41cf8;
}

.circleDots .ring:nth-child(3):before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 6px;
    left: 6px;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background: #e41cf8;
    box-shadow: 0 0 0 2.5px #e41cf833, 0 0 0 5px #e41cf822, 0 0 0 10px #e41cf811;
}


/* ------------------------- Effect Clock ------------------------- */

.effectClock{
    position: relative;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
}

.effectClock span{
    position: absolute;
    width: 4.8px;
    height: 120px;
    background: transparent;
    border-bottom: 19.2px solid #222;
    transform-origin: bottom;
    transform: rotate(calc(22.5deg * var(--i)));
}

.effectClock span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 24px;
    background: #03a9f4;
    box-shadow: 0 0 19.2px #03a9f4;
    border-radius: 10px;
    animation: animateEffectClock 1.5s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animateEffectClock{
    0%{
        transform: translateY(76.8px) rotate(0deg);
        filter: hue-rotate(0deg);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(76.8px) rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.effectClock span::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 9.6px;
    height: 4.8px;
    background: #03a9f4;
    transform: rotate(8deg);
    animation: animateColorEffectClock 1.5s linear infinite;
}

@keyframes animateColorEffectClock{
    0%{
        filter: hue-rotate(0deg);
    }100%{
        filter: hue-rotate(360deg);
    }
}

.effectClock span i{
    position: absolute;
    width: 7.2px;
    height: 48px;
    background: #222;
    border-left: 1.92px solid #03a9f4;
    border-right: 1.92px solid #03a9f4;
    transform-origin: top;
    transform: rotate(79deg);
    animation: animateColorEffectClock 1.5s linear infinite, animateSideEffectClock 1.5s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animateSideEffectClock{
    0%,40%,65.1%,100%{
        background: #222;
    }40.1%,65%{
        background: #03a9f4;
    }
}

/* ------------------------- effectSquare ------------------------- */

.loader{
    position: relative;
    width: 120px;
    height: 120px;
    animation: animate 24s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(30deg * var(--i)));
}

.loader span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.15);
}

.loader span:nth-child(3n + 3)::before{
    background: #fff;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    animation: animateSquare 2s linear infinite;
    transform-origin: 60px;
}

@keyframes animateSquare{
    0%,25%{
        transform: rotate(0deg);
    }75%,90%,100%{
        transform: rotate(180deg);
    }
}

/* Segundo */

.loader2{
    position: relative;
    width: 120px;
    height: 120px;
    animation: animate 24s steps(12) infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.loader2 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(30deg * var(--i)));
}

.loader2 span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.15);
}

.loader2 span:nth-child(3n + 3)::before{
    background: #fff;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    animation: animateSquare 2s linear infinite;
    transform-origin: 60px;
}

@keyframes animateSquare{
    0%,25%{
        transform: rotate(0deg);
    }75%,90%,100%{
        transform: rotate(180deg);
    }
}

/* Terceiro */

.loader3{
    position: relative;
    width: 120px;
    height: 120px;
    animation: animate 24s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.loader3 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(30deg * var(--i)));
}

.loader3 span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
}

.loader3 span:nth-child(3n + 3)::before{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 20px var(--clr), 0 0 30px var(--clr), 0 0 40px var(--clr), 0 0 50px var(--clr);
    animation: animateSquare 2.5s linear infinite;
    transform-origin: 60px;
}

@keyframes animateSquare{
    0%,25%{
        transform: rotate(0deg);
    }75%,90%,100%{
        transform: rotate(180deg);
    }
}

/* Quarto */

.loader4{
    position: relative;
    width: 120px;
    height: 120px;
    animation: animate2 6s linear infinite;
}

@keyframes animate2{
    0%{
        transform: rotate(360deg);
    }100%{
        transform: rotate(0deg);
    }
}

.loader4 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(30deg * var(--i)));
}

.loader4 span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 25%;
    background: rgba(255, 255, 255, 0.15);
}

.loader4 span:nth-child(3n + 3)::before{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 20px var(--clr), 0 0 30px var(--clr), 0 0 40px var(--clr), 0 0 50px var(--clr);
    animation: animateSquare2 3s linear infinite;
    transform-origin: 60px;
}

@keyframes animateSquare2{
    0%,25%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }50%{
        transform: rotate(180deg);
        filter: hue-rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
        filter: hue-rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}


/* ------------------------- REATOR -------------------------------*/

.fullpage-wrapper{
    width: 100%;
    height: 100vh;
    background: /*radial-gradient(#353c44, #222931)*/ #222;
    display: flex;
}

.reactor-container{
    width: 150px;
    height: 150px;
    margin: auto;
    position: relative;
}

.circle{
    border-radius: 50%;
}

.abs-center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.core-inner{
    width: 35px;
    height: 35px;
    border: 2.5px solid #1b4e5f;
    background-color: #ffffff;
    box-shadow: 0 0 3.5px 2.5px #52fefe, 0 0 5px 5px #52fefe inset;
}

.core-outer{
    width: 60px;
    height: 60px;
    border: 1px solid #52fefe;
    background-color: #ffffff;
    box-shadow: 0 0 2px 1px #52fefe, 0 0 5px 2.5px #52fefe inset;
}

.core-wrapper{
    width: 90px;
    height: 90px;
    background-color: #073c4b;
    box-shadow: 0 0 2.5px 2px #52fefe, 0 0 3px 1px #52fefe inset;
}

.tunnel{
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    box-shadow: 0 0 2.5px 1px #52fefe, 0 0 2.5px 2px #52fefe inset;
}

.coil-container{
    position: relative;
    width: 100%;
    height: 100%;
    animation: reactor-anime 3s infinite;
}

.coil{
    position: absolute;
    width: 15px;
    height: 10px;
    top: calc(50% - 55px);
    left: calc(50% - 7.5px);
    transform-origin: 7.5px 55px;
    background-color: #073c4b;
    box-shadow: 0 0 2.5px #52fefe inset;
}

.coil-1{
    transform: rotate(0deg);
}

.coil-2{
    transform: rotate(45deg);
}

.coil-3{
    transform: rotate(90deg);
}

.coil-4{
    transform: rotate(135deg);
}

.coil-5{
    transform: rotate(180deg);
}

.coil-6{
    transform: rotate(225deg);
}

.coil-7{
    transform: rotate(270deg);
}

.coil-8{
    transform: rotate(315deg);
}

@keyframes reactor-anime{
    from{
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

/* ------------------------- DICE --------------------------------*/

.cont{
    position: relative;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    margin: auto;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: rotateDice 15s infinite linear;
}

@keyframes rotateDice{
    100%{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.side{
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    border-radius: 5%;
}

.first{
    transform: translateZ(-50px);
}

.sixth{
    transform: translateZ(50px);
}

.second{
    transform: translateY(-50px) rotateX(90deg);
}

.third{
    transform: translateY(50px) rotateX(90deg);
}

.fourth{
    transform: translateX(-50px) rotateY(90deg);
}

.fifth{
    transform: translateX(50px) rotateY(90deg);
}

.side span{
    position: absolute;
    top: 37%;
    left: 37%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background: #fff;
}

.second span{background: #f0ea60;}
.third span{background: #ee6352;}
.fourth span{background: #4f7cac;}
.fifth span{background: #48bf84;}
.sixth span{background: #e5a532;}

.side span::before, .side span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.second span{left: 15%;} 
.second span+span{left: 60%;} 
.second span::before, .second span::after{background: #f0ea60; left: 0;}
.second span::before{top: -120%;}
.second span::after{top: 120%;}

.third span{top: 15%; left: 15%;}
.third span + span{top: 65%;}
.third span::before{background: #ee6352; right: -190%;}
.third span + span::after{background: #ee6352; right: -95%; bottom: 100%;}

.fourth span{left: 15%;}
.fourth span::before{background: #4f7cac; right: -165%;}

.fifth span{left: 15%; top: 15%;}
.fifth span + span{left: 60%;}
.fifth span::after{background: #48bf84; left: 0; top: 185%;}

.sixth.side span::before, .sixth.side span::after{background: #e5a532; left: 0%;}
.sixth.side span::before{top: -120%;}
.sixth.side span::after{top: 120%;}

/* -------------------------- ECLIPSE -------------------- */

.sky{
    width: 100vw;
    height: 100vh;
    background-color: #87ceeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    animation: animate-sky 15s linear infinite;
}

.sun, .moon{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation:  15s linear infinite;
}

.sun{
    background: radial-gradient(
        yellow,
        orange 35%,
        transparent calc(35% + 150px) 100%
      );
    animation-name: animate-sun;
}

.moon{
    background-color: #708090;
    animation-name: animate-moon;
}

@keyframes animate-sky{
    50%{
        background-color: #222;
    }
}

@keyframes animate-sun{
    50%{
        box-shadow: 0 0 5em 1em #ffa600b6;
    }
}

@keyframes animate-moon{
    from{
        transform: translateX(-200px);
    }50%{
        background-color: #222;
    }to{
        transform: translateX(200px);
    }
}